#link-subrayado-navbar {
    text-decoration: none;
}

.Link a{ 
    padding-left: 20px;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.logo{
    padding-left: 30px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    width: 20%;
    text-decoration: none;
    color: rgb(172, 198, 255);

}

#navbarNavDropdown {
    align-items: center;
    padding-left: 700px;
}

#logo:hover {
    color: rgb(87, 112, 168);
    transition: 0.3s ease;
    text-decoration: none;
}

.Link {
    text-decoration: none;
}

#link-subrayado{
    text-decoration: none;
}

#logo {
    padding-left: 30px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    width: 20%;
    text-decoration: none;
    color: rgb(172, 198, 255);
}


.NavDropdown {
    text-decoration: none;
    color: white;
}


.show>.dropdown-menu {
    display: block;
    position: absolute;
  }

  .total-cart-number {
      color: white;
      background-color: red;
      border-radius: 20%;
  }