.links{
    padding-right: 12px;
    padding-left: 20px;
    text-decoration: none;
    color: white
}

.Link a{ 
    padding-left: 20px;
}
a {
    text-decoration: none;
}

.logo{
    padding-left: 30px;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    align-content: center;
    align-items: center;
    width: 20%;
    text-decoration: none;
    color: rgb(172, 198, 255);

}

#navbarNavDropdown {
    align-items: center;
    padding-left: 700px;
}

.logo:hover {
    color: rgb(87, 112, 168);
    transition: 0.3s ease;
}

.Link {
    text-decoration: none;
}


#logo {
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 30px;
    text-align: left;
}


.NavDropdown {
    text-decoration: none;
    color: white;
}


.show>.dropdown-menu {
    display: block;
    position: absolute;
  }