.box-cart {
    position: absolute;
    z-index: 1;
    width: 400px;
    height: auto;
    background: white;
    right: 700px;
    top: 75px;
    padding: 10px 0px;
    box-sizing: border-box;
    border-radius: 5px;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.box-cart * {
    color: black;
}

.box-cart .item-cart-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-bottom: 1px solid #d6d6d6;
}

.box-cart .item-cart-list:nth-of-type(1) {
    border-top: 1px solid #d6d6d6;
}

.item-cart-img {
    width: 80px;
    padding: 5px 0px;
}

.item-cart-img img {
    width: 100%;
}

.box-cart {
    max-height: 500px;
    overflow-y: auto;
}

.container-finished {
padding: 0px 10px;
}

.container-finished p {
float: left;
width: 70%;
margin: 0%;
text-align: left;
font-weight: bold;
text-transform: uppercase;
}

.container-finished span {
    float: left;
    width: 30%;
    }
    
.container-finished button {
    margin-top: 20px;
    width: 100%;
    background-color: rgb(215, 255, 72);
    color: black;
    font-weight: bold;
}